
<li id="message-<%= message.id %>" class="<%= cookies.encrypted[:user_id] ? 'sent' : 'replies'  %> text-break">
  <div>
    <i class="author">
      <strong><%= message.user.name %></strong>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </i>
  </div>
  <div><p><%= message.content %></p></div>
</li>
