
<!-- selected classroom view -->
<div class="container p-0 rounded">
  <div class="content">
    <div class="contact-profile container">
      <p><%= classroom.name %></p>
    </div>

    <div class="announcements">
      <ul class="list-unstyled">
        <% classroom_announcements.each do |c| %>
        <div class="collapse show" id="announcement-<%= c.announcement.id %>">
          <li id="announcement-<%= c.announcement.id %>" >
              <strong><%= c.announcement.title %></strong>
              <small><%= c.announcement.created_at.strftime("%a %b %e at %l:%M%p") %></small>
              <small class="text-muted"><!--  -->
                <i class="fas fa-window-close" data-toggle="collapse" data-target="#announcement-<%= c.announcement.id %>"></i>
              </small>
          </li>
        </div>
        <% end %>
      </ul>
    </div>
    <div class="messages" data-classroom="<%= @classroom.id %>">
      <!-- data-classroom="<%= @classroom.id %>"> -->
      <ul class="list-unstyled">
        <% classroom.messages.each do |message| %>
          <li id="message-<%= message.id %>" class="<%= message.user == current_user ? 'sent' : 'replies'  %> text-break">
            <div>
              <i class="author">
                <strong><%= message.user.name %></strong>
                <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
              </i>
            </div>
            <div><p><%= message.content %></p></div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="message-input">
      <div class="wrap">
        <%= simple_form_for [ @classroom, @message ], remote: true do |f| %>
          <div class="chat-footer d-flex ">
              <%= f.input :content, label: false, placeholder: "Message # #{@classroom.name}" %>
              <%= f.submit "Send", class: 'btn btn-primary chat-input' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
