<h1>Chatrooms</h1>

<div style="display: grid; grid-template-columns: 1fr 4fr;">
  <div>
    <% @classrooms.each do |c|%>
      <%= link_to c.name, classrooms_path %>
      <br>
    <% end %>
  </div>

  <div>
    <h4>
      Welcome to the Enri'cher Chat!
    </h4>

    <div class="chat">
    <% @classrooms.each do |classroom| %>
      <div class="chat-message-container">
      <%= render "messages", classroom: classroom, message: classroom.messages %>

      <%= simple_form_for [ classroom, @message ], remote: true do |f| %>
        <div class="row">
          <div class="col-10">
            <%= f.input :content, label: false, placeholder: "Message ##{classroom.name}" %>
          </div>
          <div class="col-2">
            <%= f.submit "Send", class: 'btn btn-primary chat-input' %>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

