<div class="vh-100 p-3">
  <h1 class="text-primary">Class <%= @classroom.name %></h1>

  <h3>Current enrollment of students</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Student name</th>
        <th scope="col">Admission year</th>
        <th scope="col">Parent</th>
      </tr>
    </thead>
    <tbody>
      <% @classroom.students.each_with_index do |student, index| %>
        <tr>
          <th scope="row"><%= index+1 %></th>
          <td><%= student.name %></td>
          <td><%= student.admission_year %></td>
          <td><%= student.parents.first.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

