<h2>Classroom name: <%= @classroom.name %></h2>
<p>Academic year: <%= @classroom.academic_year %></p>
<p>Teacher in charge: <%= @classroom.user.name %></p>

<p><%= @classroom.user_id %></p>
<%= link_to "Edit this classroom", edit_classroom_path(@classroom) %>
<%= link_to "Destroy this classroom", classroom_path(@classroom), method: :delete,
            data: { confirm: "Are you sure?" } %>
<%= link_to "View the roster", roster_classroom_path(@classroom) %>

<h1>#<%= @classroom.name %></h1>
<div id="messages" data-classroom-id="<%= @classroom.id %>">

  <% @classroom.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    
    </div>
  <% end %>

</div>

<form action="chatrooms/1/messages" method="post"></form>

<%= simple_form_for [ @classroom, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@classroom.name}" %>
  <%= f.submit %>
 
<% end %>