<h1>enri'CHER chatrooms</h1>

<div style="display: grid; grid-template-columns: 1fr 4fr;">
  <div class="bg-dark container">
    <h4 style="color:white;">Classrooms</h4>
    <% @classrooms.each do |c|%>
      <p><%= link_to "# #{c.name}", show_chat_path(c) %></p>
    <% end %>
  </div>

  <div class="chat rounded vh-90">
      <%= render "messages", classroom: @classroom, message: @classroom.messages %>

      <%= simple_form_for [ @classroom, @message ], remote: true do |f| %>
        <div class="row">
          <div class="col-10">
            <%= f.input :content, label: false, placeholder: "Message ##{@classroom.name}" %>
          </div>
          <div class="col-2">
            <%= f.submit "Send", class: 'btn btn-primary chat-input' %>
          </div>
        </div>
      <% end %>
    
    </div>
</div>