<div class="vh-100 p-3">
  <div id="frame" class='d-flex h-100 bg-light border border-solid rounded shadow'>
    <!-- sidepanel section -->
    <div id="sidepanel" class="section-scroll p-3">
      <div id="contacts" class="my-2">
        <ul class="list-unstyled">
          <% @classrooms.each do |classroom|%>
            <li class="contact py-2 <%= "#{list_active(classroom, request.url)}" %>">
              <div class="wrap">
                <div class="meta">
                  <% if !classroom.messages.empty? %>
                    <p class="mb-0"><strong><%= link_to "#{classroom.name}", show_chat_url(classroom, anchor: "message-#{classroom.messages.last.id}" ), data: { turbolinks: false } %></strong></p>
                  <% else %>
                    <p class="mb-0"><strong><%= link_to "#{classroom.name}", show_chat_url(classroom), data: { turbolinks: false } %></strong></p>
                  <% end %>
                  <small class="mb-0 text-white"><%= classroom.messages.empty? ? '' : classroom.messages.last.content %></small>
                </div>
              </div>
            </li>
          <% end %>
         </ul>
      </div>
    </div>
    <!-- main chat section -->
    <% if !@message.nil? %>
      <%= render partial: "classrooms/messages", locals: { classroom: @classroom, classroom_announcements: @classroom_announcements, parents: @parents } %>
    <% end %>
  </div>
</div>
