<div class="container py-3">
  <div class="row justify-content-md">
    <div class="col col-lg-3">
      <div class="p-2">
        <h2><%= @classroom.name %></h2>
        <h4><%= @classroom.academic_year %></h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Teacher: <%= @classroom.user.name %></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Students: <span class="badge badge-primary badge-pill"><%= @classroom.enrollments.count %></span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Upcoming office hours: <span class="badge badge-primary badge-pill"><%= @classroom.user.office_hours.count %></span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">Outstanding tickets: <span class="badge badge-primary badge-pill"><%= @classroom.tickets.count %></span></li>
        <li class="list-group-item list-group-item-action"><%= link_to "View the roster", roster_classroom_path(@classroom) %></li>
        <li class="list-group-item list-group-item-action"><%= link_to "Edit this classroom", edit_classroom_path(@classroom) %></li>
        <li class="list-group-item list-group-item-action"><%= link_to "Destroy this classroom", classroom_path(@classroom), method: :delete,
              data: { confirm: "Are you sure?" } %></li>
      </ul>

    </div>
    <div class="col col-lg-9">
      <!-- ANNOUNCEMENTS -->
        <h4 class="p-2">Announcements:</h4>
        <%= render partial: 'announcements/announcement', locals: { announcements: @announcements } %>
      <!-- TICKETS -->
        <h4 class="p-2">Tickets:</h4>
        <%= render partial: 'tickets/ticket', locals: { tickets: @tickets } %>
      <!-- CHATROOM MESSAGES -->
        <h4 class="p-2">Chatroom:</h4>
        <div id="messages" data-classroom-id="<%= @classroom.id %>">
          <% @classroom.messages.each do |message| %>
            <div class="message-container" id="message-<%= message.id %>">
              <i class="author">
                <span><%= message.user.name %></span>
                <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
              </i>
              <p><%= message.content %></p>
            </div>
          <% end %>
        </div>
        <form action="chatrooms/1/messages" method="post"></form>
        <%= simple_form_for [ @classroom, @message ], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Message ##{@classroom.name}" %>
          <%= f.submit %>
        <% end %>
    </div>
  </div>
</div>

