<h2><%= @classroom.name %></h2>
<p><%= @classroom.academic_year %></p>
<p><%= @classroom.user_id %></p>
<%= link_to "Edit this classroom", edit_classroom_path(@classroom) %>
<%= link_to "Destroy this classroom", classroom_path(@classroom), method: :delete,
            data: { confirm: "Are you sure?" } %>
<%= link_to "View the roster", roster_classroom_path(@classroom) %>
