<div class="vh-100 p-3">
  <!-- class and teacher identifier -->
  <div class="row">
    <div class="col rounded text-left">
      <h2><span class="badge badge-logo"><%= @classroom.name %></span></h2>
    </div>
    <% if current_user.role == 'parent' %>
      <div class="col text-right">
        <h4>Taught by: <%= @classroom.user.name %></h4>
      </div>
    <% else %>
    <% end %>
  </div>

  <!-- classroom info -->
  <div class="row mb-1">
    <%= render partial: 'info', locals: { classroom: @classroom, announcements: @announcements, tickets: @tickets, appointments: @appointments} %>
  </div>

  <!-- announcements section -->
  <div class="row my-1 px-3" style="height: 35%;">
    <div class="col card p-3 h-100">
      <h4 class="info-header">Latest Announcements</h4>
      <div class="section-scroll">
        <% if @announcements.empty? %>
          <h4>--no announcements--</h4>
        <% else %>
          <%= render partial: 'announcements/announcement', locals: { announcements: @announcements } %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- bottom segment -->
  <div class="row"></div>
  <!-- tickets section -->
  <div class="row mt-1 d-flex" style="height:40%;">
    <div class="col-6 px-3 h-100">
      <div class="card h-100 p-3">
        <h4 class="info-header">Latest Tickets:</h4>
        <div class="section-scroll">
          <% if @tickets.empty? %>
            <h4>--no outstanding tickets--</h4>
          <% else %>
            <%= render partial: 'tickets/ticket', locals: { tickets: @tickets } %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-6 px-3 h-100">
      <div class="card h-100 p-3">
        <h4 class="info-header">Class Roster:</h4>
        <div class="section-scroll border border-sold rounded-lg h-100">
          <% if @class_roster.empty? %>
            <h4>--no students in class--</h4>
          <% else %>
            <ol>
            <% @class_roster.each do |student| %>
              <li><%= student.name %></li>
              <% end %>
            </ol>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
