<div class="container-fluid p-3">
  <div class="row p-2">
    <div class="col text-right rounded">
      <h2><span class="badge badge-logo"><%= @classroom.name %></span></h2>
    </div>
  </div>
  <!-- CLASSROOM INFO -->
  <div class="row">
    <%= render partial: 'info', locals: { announcements: @announcements, tickets: @tickets, appointments: @appointments} %>
  </div>
  <!-- ANNOUNCEMENTS -->
  <div class="row p-3">
    <div class="col card">
      <h4 class="p-2 info-header">Latest Announcements:</h4>
      <div class="section-scroll">
        <% if @announcements.empty? %>
          <h3>--no announcements--</h3>
        <% else %>
          <%= render partial: 'announcements/announcement', locals: { announcements: @announcements } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row px-3">
  <!-- TICKETS -->
    <div class="col-sm-6 card py-2">
      <h4 class="p-2 info-header">Latest Tickets:</h4>
      <class class="section-scroll">
        <% if @tickets.empty? %>
          <h3>--no outstanding tickets--</h3>
        <% else %>
          <%= render partial: 'tickets/ticket', locals: { tickets: @tickets } %>
        <% end %>
      </class>
    </div>
  <!-- CLASS ROSTER -->
    <div class="col-sm-6 card py-2">
      <h4 class="p-2 info-header">Class Roster:</h4>
      <div class="section-scroll">
        <% if @class_roster.empty? %>
          <h3>--no students in class--</h3>
        <% else %>
          <ol>
          <% @class_roster.each do |student| %>
            <li><%= student.name %></li>
          </ol>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
