<div class="container">
  <nav class="fixed-bottom navbar-light bg-light">
    <div class="d-flex justify-content-around">
      <p><%= link_to "Classrooms", classrooms_path %></p>
      <p><%= link_to "Office Hours", office_hours_path %></p>
      <p><%= link_to "Home", root_path %></p>
      <p><%= link_to "Tickets", tickets_path %></p>
      <p><%= link_to "Announcements", announcements_path %></p>
    </div>
  </nav>
</div>
