
<div class="container d-flex flex-column p-3 text-white bg-dark sticky-top vh-100" style="width: 20%;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <%= image_tag('enricher_logo.png', height: 80, crop: :fill) %>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active">
        Classrooms
      </a>
    </li>
    <li>
      <%= link_to 'Office hours', office_hours_path, class:"nav-link text-white" %>
    </li>
    <li>
      <%= link_to 'Tickets', tickets_path, class:"nav-link text-white" %>
    </li>
    <li>
      <%= link_to 'Announcements', tickets_path, class:"nav-link text-white" %>
    </li>
    <li>
      <%= link_to 'Chatroom', tickets_path, class:"nav-link text-white" %>
    </li>
    <li>
      <%= link_to 'Settings', tickets_path, class:"nav-link text-white" %>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= current_user.name %>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a><%= link_to "Action", "#", class: "dropdown-item" %></a>
      <a><%= link_to "Another action", "#", class: "dropdown-item" %></a>
      <a><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></a>
    </div>
  </div>
</div>
