<!-- Collapsed below, remove d-none and add d-flex to show -->
<div class="d-flex p-3 flex-column sticky-top vh-100 <%= current_user.role == "teacher" ? "bg-dark" : "bg-white" %>"
  id="sidebar-sm" style="width: 4.5rem;">

  <div class="btn btn-secondary expand-action"><i class="fas fa-bars align-self-center"></i></div>

  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li>
      <div class="py-3 nav-item border-bottom">
        <%= link_to classrooms_path, class:"nav-link #{current_user.role == "teacher" ? "text-light" : "text-dark"}  #{current_page?('/classrooms') && 'active'}" do %>
         <i class="fas fa-chalkboard-teacher"></i>
        <% end %>
      </div>
    </li>
    <li>
      <div class="py-3 nav-item border-bottom">
        <%= link_to office_hours_path, class:"nav-link #{current_user.role == "teacher" ? "text-light" : "text-dark"} #{current_page?('/office_hours') && 'active'}" do %>
         <i class="fas fa-calendar-day"></i>
        <% end %>
      </div>
    </li>
    <li>
      <div class="py-3 nav-item border-bottom">
        <%= link_to tickets_path, class:"nav-link #{current_user.role == "teacher" ? "text-light" : "text-dark"} #{current_page?('/tickets') && 'active'}" do %>
         <i class="fas fa-hand-paper"></i>
        <% end %>
      </div>
    </li>
    <li>
      <div class="py-3 nav-item border-bottom announcement-icon">
        <%= link_to announcements_path, class:"nav-link #{current_user.role == "teacher" ? "text-light" : "text-dark"} #{current_page?('/announcements') && 'active'}" do %>
         <i class="fas fa-bullhorn"></i>
          <% if current_user.role == 'parent' && get_unread_announcements(current_user) > 0 %>
            <span class="badge badge-danger badge-pill announcement-notification"><%= get_unread_announcements(current_user) %></span>
          <% end %>
        <% end %>
      </div>
    </li>
    <li>
      <div class="py-3 nav-item border-bottom">
        <%= link_to chatrooms_path, class:"nav-link #{current_user.role == "teacher" ? "text-light" : "text-dark"} #{current_page?('/chatrooms') && 'active'}" do %>
         <i class="fas fa-comment"></i>
        <% end %>
      </div>
    </li>
    <% if current_user.admin == true %>
      <li>
        <div class="py-3 nav-item border-bottom">
           <i class="fas fa-book-open nav-link <%= current_user.role == "teacher" ? "text-light" : "text-dark" %>"></i>
        </div>
      </li>
      <li>
        <div class="py-3 nav-item border-bottom">
           <i class="fas fa-credit-card nav-link <%= current_user.role == "teacher" ? "text-light" : "text-dark" %>"></i>
        </div>
      </li>
    <% end %>
  </ul>

  <hr>

  <div class="d-flex justify-content-center">
    <%= link_to image_tag('enricher_logo.png', height: 40, crop: :fill, class: "rounded-circle my-1"), root_path %>
  </div>

  <% if current_user.role == "teacher" %>
    <span class="badge badge-primary badge-pill" style="font-size:0.5rem">Teacher</span>
  <% elsif current_user.role == "parent" %>
    <span class="badge badge-success badge-pill" style="font-size:0.5rem">Parent</span>
  <% end %>
</div>

<!-- Collapsed below, add d-none and remove d-flex to hide -->
<div class="flex-column p-3 d-none sticky-top vh-100 <%= current_user.role == "teacher" ? "bg-dark" : "bg-white" %>" id="sidebar-lg" style="width: 280px;">

  <div class="btn btn-secondary collapse-action"><i class="fas fa-bars"></i></div>

  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <div class="py-3 nav-item border-bottom">
        <%= link_to classrooms_path, class:"nav-link #{current_user.role == "teacher" ? "text-light" : "text-dark"} #{current_page?('/classrooms') && 'active'}" do %>
         <i class="fas fa-chalkboard-teacher mr-3"></i>Classrooms
        <% end %>
      </div>
    </li>
    <li>
      <div class="py-3 nav-item border-bottom">
        <%= link_to office_hours_path, class:"nav-link #{current_user.role == "teacher" ? "text-light" : "text-dark"} #{current_page?('/office_hours') && 'active'}" do %>
         <i class="fas fa-calendar-day mr-3"></i>Office Hours
        <% end %>
      </div>
    </li>
    <li>
      <div class="py-3 nav-item border-bottom">
        <%= link_to tickets_path, class:"nav-link #{current_user.role == "teacher" ? "text-light" : "text-dark"} #{current_page?('/tickets') && 'active'}" do %>
         <i class="fas fa-hand-paper mr-3"></i>Tickets
        <% end %>
      </div>
    </li>
    <li>
      <div class="py-3 nav-item border-bottom announcement-icon">
        <%= link_to announcements_path, class:"nav-link #{current_user.role == "teacher" ? "text-light" : "text-dark"} #{current_page?('/announcements') && 'active'}" do %>
         <i class="fas fa-bullhorn mr-3"></i>Announcements
         <% if current_user.role == 'parent' && get_unread_announcements(current_user) > 0 %>
           <span class="badge badge-danger badge-pill announcement-notification"><%= get_unread_announcements(current_user) %></span>
         <% end %>
        <% end %>

      </div>
    </li>
    <li>
      <div class="py-3 nav-item border-bottom">
        <%= link_to chatrooms_path, class:"nav-link #{current_user.role == "teacher" ? "text-light" : "text-dark"} #{current_page?('/chatrooms') && 'active'}" do %>
         <i class="fas fa-comment mr-3"></i>Chatrooms
        <% end %>
      </div>
    </li>
    <% if current_user.admin == true %>
      <li>
        <div class="py-3 nav-item border-bottom">
          <i class="fas fa-book-open nav-link mr-3 <%= current_user.role == "teacher" ? "text-light" : "text-dark" %>"></i>Report Cards
        </div>
      </li>
      <li>
        <div class="py-3 nav-item border-bottom">
          <i class="fas fa-credit-card nav-link mr-3 <%= current_user.role == "teacher" ? "text-light" : "text-dark" %>"></i>Payments
        </div>
      </li>
    <% end %>
  </ul>

  <hr>

  <div class="d-flex flex-column align-items-center mb-2">
    <%= link_to image_tag('enricher_logo.png', height: 40, crop: :fill, class: "rounded-circle my-1"), root_path %>
    <% if current_user.role == "teacher" %>
        <span class="badge badge-primary badge-pill" style="font-size:0.5rem">Teacher</span>
      <% else current_user.role == "parent" %>
        <span class="badge badge-success badge-pill" style="font-size:0.5rem">Parent</span>
    <% end %>
  </div>

  <div class="dropdown">
    <button class="btn btn-block btn-secondary dropdown-toggle text-wrap" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <a style="font-size:0.7rem"><%= current_user.name %></a>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to 'Settings', edit_user_registration_path, class:"dropdown-item" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
    </div>
  </div>
</div>
