<div class="container py-3">
  <div class="row p-2">
    <div class="col">
      <h1 class=text-primary><%= @teacher.name %>'s Dashboard</h1>
    </div>
  </div>
  <!-- CLASSROOM INFO -->
  <div class="row p-2">
    <%= render partial: 'info' %>
  </div>
  <!-- ANNOUNCEMENTS -->
  <div class="row p-2">
    <div class="col">
      <h4 class="p-2 info-header">Latest Announcements:</h4>
      <%= render partial: 'announcements/announcement', locals: { announcements: @teacher_announcements } %>
    </div>
  </div>
  <div class="row p-2">
  <!-- TICKETS -->
    <div class="col-12 col-lg-6">
      <h4 class="p-2 info-header">Latest Tickets:</h4>
      <%= render partial: 'tickets/ticket', locals: { tickets: @teacher_tickets } %>
    </div>
  <!-- APPOINTMENTS -->
    <div class="col-12 col-lg-6">
      <h4 class="p-2 info-header">Upcoming Appointments:</h4>
      <%= render partial: 'appointments/appointment', locals: { appointments: @teacher_appointments } %>
    </div>
  </div>
</div>
