<div class="container py-3">
  <div class="row p-2">
    <div class="col">
      <h1 class=text-primary><%= @teacher.name %>'s Dashboard</h1>
    </div>
  </div>
  <!-- CLASSROOM INFO -->
  <div class="row">
    <%= render partial: 'info' %>
  </div>
  <!-- ANNOUNCEMENTS -->
  <div class="row p-3">
    <div class="col card">
      <h4 class="p-2 info-header">Latest Announcements:</h4>
      <div class="section-scroll">
        <%= render partial: 'announcements/announcement', locals: { announcements: @teacher_announcements } %>
      </div>
    </div>
  </div>
  <div class="row px-3">
  <!-- TICKETS -->
    <div class="col-12 col-lg-6 card py-2">
      <h4 class="p-2 info-header">Latest Tickets:</h4>
      <div class="section-scroll">
        <%= render partial: 'tickets/ticket', locals: { tickets: @teacher_tickets } %>
      </div>
    </div>
  <!-- APPOINTMENTS -->
    <div class="col-12 col-lg-6 card py-2">
      <h4 class="p-2 info-header">Upcoming Appointments:</h4>
      <div class="section-scroll">
        <%= render partial: 'appointments/appointment', locals: { appointments: @teacher_appointments } %>
      </div>

    </div>
  </div>
</div>
