<div class="card p-4 py-2">
  <h1 class="text-primary">New ticket</h1>

  <%= simple_form_for @ticket do |f| %>
    <%= f.input :question, label: 'What would you like to ask?', error: 'A question is mandatory, please specify one' %>
    <%#= f.input :is_private, label: 'Is this question private?', as: :boolean, input_html: { class: "toggle" } %>
    <%= f.input :category_name,
                      label: 'Category:',
                      collection: ['Attendance', 'Enrollment', 'Adhoc', 'Homework', 'Syllabus', 'Timetable', 'Welfare'].sort,
                      as: :check_boxes,
                      input_html: { class: "tag-selector" },
                      item_wrapper_class: 'tag-item',
                      error: 'Category is mandatory, please specify one' %>
    <%= f.input :classroom_id,
                      label: 'Select a classroom to post this into',
                      collection: current_user.student_classrooms.sort,
                      as: :check_boxes,
                      input_html: { class: "tag-selector" },
                      item_wrapper_class: 'tag-item' %>
    <%= f.button :submit, "Create Ticket", class: "btn btn-primary btn-block" %>
  <% end %>
</div>
