<% tickets.each do |ticket| %>
  <%= link_to ticket_path(ticket), class: 'cardlink' do %>
    <div class="card mt-2 mb-2 card-select">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-lg-8">
              <h5 class="card-title"><%= ticket.question %></h5>
          </div>
          <div class="col-12 col-lg-4 text-right">
          <small class="text-muted">Created on <%= ticket.created_at.strftime('%-d %b %y,  %-H:%M%p') %></small>
          </div>
        </div>
        <p class="card-text">Asked by: <%= ticket.user.name %></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <% if ticket.is_private? %>
            <span class="badge badge-dark">Private</span>
          <% else %>
            <span class="badge badge-light">Public</span>
          <% end %>
            |  Category: <%= ticket.category_name %>
        </small>
        <small class="text-muted">
          <% if ticket.status == "Not yet started" %>
            <span class="badge badge-danger">Not started</span>
          <% elsif ticket.status == "In progress" %>
            <span class="badge badge-primary">In progress</span>
          <% elsif ticket.status == "Completed" %>
            <span class="badge badge-success">Completed</span>
          <% end %>
        </small>
      </div>
    </div>
  <% end %>
<% end %>
