<% @tickets.each do |ticket| %>
    <div class="card mt-2 mb-2">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-lg-8">
            <%= link_to ticket_path(ticket), class: 'ticket-question' do %>
              <h5 class="card-title"><%= ticket.question %></h5>
            <% end %>
          </div>
          <div class="col-12 col-lg-4 text-right">
          <small class="text-muted">Created at <%= ticket.created_at %></small>
          </div>
        </div>
        <p class="card-text">Asked by: <%= ticket.user.name %></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">
          <% if ticket.is_private? %>
            <span class="badge badge-pill badge-dark">Private</span>
          <% else %>
            <span class="badge badge-pill badge-light">Public</span>
          <% end %>
            |  Category: <%= ticket.category_name %>
        </small>
        <small class="text-muted">
          <% if ticket.status == "Not yet started" %>
            <span class="badge badge-danger">Not started</span>
          <% elsif ticket.status == "In progress" %>
            <span class="badge badge-primary">In progress</span>
          <% elsif ticket.status == "Completed" %>
            <span class="badge badge-success">Completed</span>
          <% end %>
        </small>
      </div>
    </div>
<% end %>
