<div class="container py-3">
  <div class="row">
    <div class="col-md-6">
      <div class="row card p-2">
        <h5>Details</h5>
      </div>
      <div class="row card p-2">
        <h5>Question</h5>
      </div>
    </div>
    <div class="col-md-6 card p-2">
      <h5>Comments</h5>
    </div>
  </div>
</div>


<!--
<div class="container">
  <h1 class="text-center">This is the ticket you are looking for</h1>
      <h3 class="text-center">Parent:<%= @ticket.user.name %></h1>
      <h3 class="text-center">Teacher:<%= @ticket.classroom.user.name %></h1>
    <%= link_to "Go back to all tickets", tickets_path %>
</div>

<div class="container">


  <div class="container">
  <%= simple_form_for [ @ticket ] do |f| %>

    <%= f.label :question %>
    <%= f.text_field :question %>
    <%= f.label :category_name %>
    <%= f.text_field :category_name %>
    <%= f.input :is_private, as: :radio_buttons %>
    <%= f.input :status %>
    <%= f.submit "Update ticket", class: "btn btn-primary" %>
  <% end %>
  </div>
  <%= link_to "Delete this ticket", ticket_path(@ticket), method: :delete, data: { confirm: "Are you sure?" }  %>
</div>

<div class="container">

  <h3>Add a comment to the ticket</h1>



  <%= link_to 'Add a comment', new_ticket_comment_path(@ticket) %>

  <%#= render :partial => 'comments/new' %>

    <% @ticket.comments.each do |comment| %>
       <div class="card">
       Content: <%= comment.content %>
       <br />
       Author: <%= comment.author.name %>
       <br />
       </div>
    <% end %>
</div>
 -->



