<div class="vh-100 p-3">
  <div class="row h-100">
    <div class="col-6 h-100">
      <!-- Details segment -->
      <div class="row px-3 pb-1" style="height:45%;">
        <div class="card p-3 h-100 w-100">
          <h5 class="info-header">Details</h5>
          <div class="row">
            <div class="col-4 mb-1"><strong>Asked by: </strong></div>
            <div class="col-8"><%= @ticket.user.name %></div>
            <div class="col-4 mb-1"><strong>Parent of:</strong></div>
            <div class="col-8"><%= @students %></div>
            <div class="col-4 mb-1"><strong>Created on: </strong></div>
            <div class="col-8"><%= @ticket.created_at.strftime('%-d %b %y,  %-H:%M%p') %></div>
            <div class="col-4 mb-1"><strong>Category: </strong></div>
            <div class="col-8"><%= @ticket.category_name %></div>
            <div class="col-4 mb-1"><strong>Status: </strong></div>
            <div class="col-8">
              <% if @ticket.status == "Not yet started" %>
                <span class="badge badge-danger">Not started</span>
              <% elsif @ticket.status == "In progress" %>
                <span class="badge badge-primary">In progress</span>
              <% elsif @ticket.status == "Completed" %>
                <span class="badge badge-success">Completed</span>
              <% end %>
            </div>
            <div class="col-4 mb-1"><strong>Privacy: </strong></div>
            <div class="col-8">
              <% if @ticket.is_private? %>
                <span class="badge badge-dark">Private</span>
              <% else %>
                <span class="badge badge-light">Public</span>
              <% end %>
            </div>
              <% if current_user.role == "teacher" %>
                <div class="container">
                  <%= simple_form_for @ticket,  html: { class: "border border-solid p-2 rounded bg-light" }  do |f| %>
                    <div class="w-100 d-flex justify-content-between align-items-end">
                      <%= f.input :status,
                                  label: 'Edit ticket properties:',
                                  collection: ['Not yet started', 'In progress', 'Completed'],
                                  input_html: { style: "width: 100%;" } %>
                      <%= f.input :is_private, label: 'Ticket is private', as: :boolean,
                                  input_html: { class: "toggle" } %>
                    </div>
                    <%= f.button :submit, "Update Ticket", class: "btn btn-primary btn-block" %>
                  <% end %>

                </div>
              <% end %>
          </div>
        </div>
      </div>

      <!-- Question segment -->
      <div class="row px-3 pt-1" style="height:55%;">
        <div class="card p-3 h-100 w-100">
          <h5 class="info-header">Question</h5>
          <p class="card-text"><%= @ticket.question %></p>
        </div>
      </div>
    </div>
    <!-- Comments segment -->
    <div class="col-6 h-100">
      <div class="card p-3 h-100">
        <div class="h-100">
          <h5 class="info-header">Comments</h5>
          <div class="section-scroll" style="height: 80%;">
            <% @ticket.comments.each do |comment| %>
               <div class="card p-3 mb-1">
                <div class="d-flex justify-content-between">
                  <p class="card-text author"><%= comment.author.name %></p>
                  <small class="card-text"><%= comment.created_at.strftime('%-d %b %y,  %-H:%M%p') %></small>
                </div>
                <p class="card-text"><%= comment.content %></p>
               </div>
            <% end %>
          </div>
          <div style="height: 20%;">
            <%= simple_form_for [ @ticket, @comment ] do |f| %>
              <%= f.input :content,
                          label: false %>
              <%= f.submit "Add a comment", class: "btn btn-primary btn-block", "data-disable-with" => "Commenting.." %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
