<% appointments.each do |appointment| %>
  <div class="cardlink">
    <div class="card mt-2 mb-2 card-select">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-lg-8 align-self-center">
            <% if current_user.role == 'teacher' %>
              <h5 class="card-title">
                <% if appointment.parent.photo.attached? %>
                  <%= cl_image_tag appointment.parent.photo.key, class: "avatar-small mr-1" %>
                <% end %>
                <%= appointment.parent.name %>
              </h5>
            <% else %>
              <h5 class="card-title">
                <% if appointment.teacher.photo.attached? %>
                  <%= cl_image_tag appointment.teacher.photo.key, class: "avatar-small mr-1" %>
                <% end %>
                <%= appointment.teacher.name %>
              </h5>
            <% end %>
          </div>
          <div class="col-12 col-lg-4 align-self-center text-right">
            <small class="text-muted"><%= appointment.start_time.strftime('%-d %b %y') %></small>
            <br>
            <small class="text-muted"><%= appointment.start_time.strftime('%-H:%M%p') %> - <%= appointment.office_hour.end_time.strftime('%-H:%M%p') %></small>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Students: <%= appointment.user.students.map(&:name).join(", ") %></small>
      </div>
    </div>
  </div>
<% end %>
